/***********************************************
	media-queries.scss

	https://github.com/FCOO/media-queries
	https://github.com/FCOO

	Media Queries
	Using the scss-files created by ZURB Foundation
	See http://foundation.zurb.com/docs/media-queries.html

************************************************/

@import "../bower_components/foundation/scss/foundation/functions";

//Setting 
	$include-accessibility-classes: false;
	$small-breakpoint:  em-calc(624);
	$medium-breakpoint: em-calc(1024);
	$large-breakpoint:  em-calc(1440);
	$xlarge-breakpoint: em-calc(1920);

@import "../bower_components/foundation/scss/foundation/components/visibility";


@if $include-accessibility-classes == false {
	html { color:false; }
}
@if $include-accessibility-classes != false {
	html { color:true; }
}
